.header_wrapper {
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 32px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left_side_bar {
    display: flex;
    align-items: center;


    .logo_wrapper {
        width: 70px;
        height: 70px;

        .logo_img {
            width: 70px;
            height: 70px;
        }
    }
}


.wrapper_lists {
    display: flex;
    justify-content: space-around;
}


.item {
    margin-right: 28px;
}

.item:last-child {
    margin-right: 0;
}