* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
}

.content_wrapper {
  display: flex;
  
  flex-wrap: wrap;
}

.block_user {
  width: 200px;
  

  .img_wrapper {
    width: 100px;
    height: 100px;

    .img_user {
      width: 100px;
      height: 100px;
    }
  }
}

.block_user + .block_user {
  margin-bottom: 30px;
}