* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
}

.content_wrapper {
  display: flex;
  
  flex-wrap: wrap;
}

.block_user {
  width: 200px;
  

  .img_wrapper {
    width: 100px;
    height: 100px;

    .img_user {
      width: 100px;
      height: 100px;
    }
  }
}

.block_user + .block_user {
  margin-bottom: 30px;
}

.search_bar_wrapper {
  display: flex;
  justify-content: space-between;
}

.input_wrapper {
  margin-bottom: 40px;
}

.input {
  width: 150px;
  height: 20px;
}

.lists_wrapper {
  background-color: #FAEBD7;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 30px;
}