* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  max-width: 1400px;
  margin: 0 auto;
}

.content_wrapper {
  display: flex;
  
  flex-wrap: wrap;
}

.block_user {
  width: 200px;
  

  .img_wrapper {
    width: 100px;
    height: 100px;

    .img_user {
      width: 100px;
      height: 100px;
    }
  }
}

.block_user + .block_user {
  margin-bottom: 30px;
}

.search_bar_wrapper {
  display: flex;
  justify-content: space-between;
}

.input_wrapper {
  margin-bottom: 40px;
}

.input {
  width: 150px;
  height: 20px;
}

.lists_wrapper {
  background-color: #FAEBD7;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.wrapper_user_content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 700px;
   
    background: whitesmoke;
  z-index: 1000; /* Положите его выше заднего фона */
}

.user_infro_wrapper {
  display: flex;
  flex-direction: column;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Задний фон с полупрозрачностью */
  z-index: 999; /* Положите его выше других элементов */
  
}

